ion-header{
    ion-toolbar{
        --background:#000;  
        --color:var(--ion-color-light);
        ion-title{
            font-size: 16px;
            margin-right: 48px;
        }
    }
}

ion-content{
    --background:#000;
    --color:var(--ion-color-light);
    .input-container{
        background:#2B2B2B;
        padding: 20px 16px;
        margin-top:20px;
        .input-title{
            font-size:20px;
        }
        .input-subtitle{
            font-size:14px;
            color: #8d8d8d;
        }
        .input-wrapper{
            margin: 21px 0 19px 0;
            .password-input-container{
                position: relative;
                span{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 2;
                    color: #000;
                    ion-icon{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
            ion-input{
                margin-bottom: 20px;
                border: 1px solid #fff;
                --padding-top: 8px;
                --padding-bottom: 8px;
            }
        }
    }
    .terms-condition-container{
        padding: 0 16px;
        margin-top: 132px;
        text-align: center;
        ion-label{
            font-size: 14px;
            color: #8d8d8d;
            u{
                color: #fff;
            }
        }
    }
    .registration-button{
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        background: #fff;
        padding: 2px;
        align-items: center;
        ion-label{
            padding-left: 24px;
            color: #000;
            text-transform: uppercase;
            font-weight:600;
            font-size:16px;
        }
        ion-button{
            --background: #000000;
            --padding-start:0;
            --padding-end:0;
            height: 45px;
            width: 45px;
            ion-icon{
                font-size: 26.63px;
            }
        }
    }
    ion-input{
      --background:#fff;
      --color:#000;
    }
}