<ion-content [fullscreen]="true" class="ion-padding">
    <div align="center">
        <div class="title-wrapper">
            <ion-label color="light">Login</ion-label>
        </div>
        <div class="segments-wrapper">
            <ion-segment mode="md" [(ngModel)]="selectedSegment">
                <ion-segment-button value="ARBEITNEHMER">
                    <ion-label>ARBEITNEHMER</ion-label>
                </ion-segment-button>
                <ion-segment-button value="ARBEITGEBER">
                    <ion-label>ARBEITGEBER</ion-label>
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>
    <div class="input-wrapper">
        <ion-input type="email" placeholder="Email"></ion-input>
        <ion-input type="password" placeholder="Passwort"></ion-input>
    </div>
    <div align="center" class="forgot-password-wrapper">
        <ion-label color="light">Passwort vergessen?</ion-label>
        <div class="action-wrapper">
            <div class="new-user">
                <ion-label>Neuer Nutzer?</ion-label>
                <ion-label color="light">Account erstellen</ion-label>
            </div>
        </div>
    </div>
    <div class="login-button">
        <ion-label>Login</ion-label>
        <ion-button slot="end" expand="full">
            <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>